.navbar {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  top: 0;
}
a {
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  margin-left: 50px;
}
body {
  margin: 0;
}
.float-right {
  float: right;
}
.btn {
  font-size: medium;
  font-weight: 700;
  padding: 15px 15px;
  color: pink;
  background-color: black;
  border: 5px solid(rgb(0, 0, 0));
  border-radius: 10px;
  text-align: center;
  /* transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s; */
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.btn:hover {
  transform: translateY(-10px);
  background-color: black;
  color: orangered;
}
.btn-primary {
  color: white;
  text-align: center;
}
.btn-warning {
  color: rgb(255, 255, 255);
}
.mtop {
  margin-top: 1px;
}
.mtop img {
  width: 100%;
}
.row {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 97%;
  height: 94%;
  top: 85px;
  left: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: row;
  opacity: 0;
  transition: 0.6s;
}
.row:hover {
  opacity: 1;
  transition: 0.8s;
}
.row h1 p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.col-2 {
  width: 50%;
  padding-left: 10px;
}
.col-3 {
  width: 33.33%;
}
.col-4 {
  width: 25%;
}
.mt-top10px {
  margin-top: 10px;
}
.card {
  top: auto;
  text-align: center;
  margin: 50px;
  color: white;
}
.text-center {
  text-align: center;
}
.see {
  color: rgb(183, 178, 178);
}
.card img {
  width: 100%;
}
.img-responsive {
  width: auto;
  height: 500px;
  background-color: black;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  /* mix-blend-mode: screen; */
  border-radius: 50px;
}

.card p {
  text-align: justify;
}
.text-primary {
  color: black;
}
.footer {
  background-color: rgb(1, 1, 1);
  padding: 5px;
}
.text-white {
  color: white;
}
.text-color1 {
  color: rgba(247, 71, 7, 0.887);
}
.text-color2 {
  color: rgba(7, 123, 247, 0.887);
}
.text-color3 {
  color: rgba(255, 230, 0, 0.985);
}
